1: => Name, tel and email
<!-- ###view_0### begin -->
	<p>
	<strong>###linkStart###<!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### -->###linkEnd###</strong>
		<!-- ###office_phone_box###--><br />###listFieldHeader_office_phone### ###office_phone###<!-- ###office_phone_box###-->
		<!-- ###email_box### --><br />###email###<!-- ###email_box### -->
	</p>
<!-- ###view_0### end -->

2: => name, office adress, tel, email
<!-- ###view_1### begin -->
	<p>
	<strong>###linkStart###<!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### -->###linkEnd###</strong>
		<!-- ###office_address_box###--><br />###office_address###<br /><!-- ###office_address_box###-->
		<!-- ###office_country_box###-->###office_country### - <!-- ###office_country_box###--><!-- ###office_zip_box###-->###office_zip###<!-- ###office_zip_box###-->
		<!-- ###office_location_box###-->###office_location###<!-- ###office_location_box###-->
		<br /><!-- ###office_phone_box###--><br />###listFieldHeader_office_phone### ###office_phone###<!-- ###office_phone_box###-->
		<!-- ###office_fax_box###--><br />###listFieldHeader_office_fax### ###office_fax###<!-- ###office_fax_box###-->
		<!-- ###email_box### --><br />###email###<!-- ###email_box### -->
	</p>
<!-- ###view_1### end -->

3: => Alternating list with title
<!-- ###view_2### begin -->
	<!-- ###even### begin -->
	<p class="even">
		<strong>###linkStart###<!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### -->###linkEnd###</strong>
		<!-- ###function_suffix_box###--><br />###function_suffix###<!-- ###function_suffix_box###-->
	</p>
	<!-- ###even### end -->
	<!-- ###odd### begin -->
	<p class="odd">
		<strong>###linkStart###<!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### -->###linkEnd###</strong>
		<!-- ###function_suffix_box###--><br />###function_suffix###<!-- ###function_suffix_box###-->
	</p>
	<!-- ###odd### end -->
<!-- ###view_2### end -->

4: => Alternating list
<!-- ###view_3### begin -->
	<!-- ###even### begin -->
	<p class="even">
		<strong>###linkStart###<!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### -->###linkEnd###</strong>
		<!-- ###function_suffix_box###--><br />###function_suffix###<!-- ###function_suffix_box###-->
	</p>
	<!-- ###even### end -->
	<!-- ###odd### begin -->
	<p class="odd">
		<strong>###linkStart###<!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### -->###linkEnd###</strong>
		<!-- ###function_suffix_box###--><br />###function_suffix###<!-- ###function_suffix_box###-->
	</p>
	<!-- ###odd### end -->
<!-- ###view_3### end -->

5: => Link to all lectures
<!-- ###view_4### -->
<p><a href="###link###" target="_blank">###linkText###</a></p>
<!-- ###view_4### -->

6: => Link to current lectures
<!-- ###view_5###-->
<p><a href="###link###" target="_blank">###linkText###</a></p>
<!-- ###view_5### -->
