<!-- ###singleView### -->
<!-- ###projecttitleBox### --><h2>###projecttitle###</h2><!-- ###projecttitleBox### -->
<div>
	<div>
		<!-- ###pictureBox### -->
		<div class="bodytext">
			###picture###
		</div>
		<!-- ###pictureBox### -->
		<div>
			<!-- ###projectmanagementBox### -->
			<h2>###projectmanagementLabel###</h2>
			<p class="bodytext">###projectmanagement###</p>
			<!-- ###projectmanagementBox### -->
			
			<!-- ###personsinvolvedBox#### -->
			<h2>###personsinvolvedLabel###</h2>
			<p class="bodytext">###personsinvolved###</p>
			<!-- ###personsinvolvedBox#### -->
			
			<!-- ###financingBox### -->
			<h2>###financingLabel###</h2>
			<p class="bodytext">###financing###</p>
			<!-- ###financingBox### -->
			
			<!-- ###collaborationBox### -->
			<h2>###collaborationLabel###</h2>
			<p class="bodytext">###collaboration###</p>
			<!-- ###collaborationBox### -->
			
			<h2>###periodLabel###</h2>
			<p class="bodytext">
			<!-- ###startBox### -->
			###startLabel###: ###start###<br /><!-- ###startBox### -->
			<!-- ###endBox### -->###endLabel### ###end###<!-- ###endBox### -->
			</p>
		</div>
	</div>
	<div>
		<!-- ###link1Box### -->###link1###<!-- ###link1Box### -->
		<!-- ###descriptionBox### -->
		<h2>###descriptionLabel###</h2>
		<p class="bodytext">###description###</p>
		<!-- ###descriptionBox### -->

		<!-- ###commentBox### -->
		<h2>###commentLabel###</h2>
		<p class="bodytext">###comment###</p>
		<!-- ###commentBox### -->

		<p class="bodytext">###back###</p>
	</div>
</div>
<!-- ###singleView### -->