<!-- ###singleView### -->
<!-- ###projecttitleBox### --><h1>Forschungsprojekte</h1>
<h1 class="projecttitle">###projecttitle###</h1><!-- ###projecttitleBox### -->
<div>
	<div>
		<!-- ###pictureBox### -->
		<div class="bodytext">
			###picture###
		</div>
		<!-- ###pictureBox### -->
		<div>
			<!-- ###projectmanagementBox### -->
			<h2>Forschungsleitung</h2>
			<p class="bodytext">###projectmanagement###</p>
			<!-- ###projectmanagementBox### -->
			
			<!-- ###personsinvolvedBox#### -->
			<h2>Forschungsteam</h2>
			<p class="bodytext">###personsinvolved###</p>
			<!-- ###personsinvolvedBox#### -->
			
			<!-- ###financingBox### -->
			<h2>Finanzierung durch</h2>
			<p class="bodytext">###financing###</p>
			<!-- ###financingBox### -->
			
			<!-- ###collaborationBox### -->
			<h2>Zusammenarbeit mit</h2>
			<p class="bodytext">###collaboration###</p>
			<!-- ###collaborationBox### -->
			
			<!-- ###startBox### -->
			<h2>Zeitraum</h2> 
			<p class="bodytext">Beginn: ###start###<br /><!-- ###startBox### -->
			<!-- ###endBox### -->Ende: ###end###</p><!-- ###endBox### -->
		</div>
	</div>
	<div>
		<!-- ###link1Box### -->###link1###<!-- ###link1Box### -->
		<!-- ###descriptionBox### -->
		<h2>Projektbeschreibung</h2>
		<p class="bodytext">###description###</p>
		<!-- ###descriptionBox### -->

		<!-- ###commentBox### -->
		<h2>Kommentar</h2>
		<p class="bodytext">###comment###</p>
		<!-- ###commentBox### -->

		<p class="bodytext">###back###</p>
	</div>
</div>
<!-- ###singleView### -->