<!-- ###listByCategory### -->
	
	###header###
	<p>###pagebrowser###</p>
	<table class="tablelist" border="0" cellpadding="0" cellspacing="0" width="100%">
	<!-- ###listView### -->
		<!-- ###list### begin -->
		<tr>
			<th class="title" colspan="2">
				<br />
				<br />
				<h1>###categoryLabel###</h1>
			</th>
		</tr>
	<!-- ###headRow### begin -->
	<tr class="tableheader">
		<!-- ###cell### -->
			<th>###content###</th>
		<!-- ###cell### -->
	</tr>
	<!-- ###headRow### end -->
			<!-- ###rows### begin -->
				<!-- ###row0### begin -->
				<tr class="odd">
					<!-- ###cell### -->
						<td class="cell0">###content###</td>
					<!-- ###cell### -->
				</tr>
				<!-- ###row0### end -->
				<!-- ###row1### begin -->
				<tr>
					<!-- ###cell### -->
						<td class="cell1">###content###</td>
					<!-- ###cell### -->
				</tr>
				<!-- ###row1### end -->
			<!-- ###rows### end -->
		<!-- ###list### end -->
	<!-- ###listView### -->
	</table>
	
	<!-- ###alphabeticPageBrowser### begin -->
	<!-- ###aPBElement### -->
		###linkStart######start###-###end######linkEnd###&nbsp;&nbsp;
	<!-- ###aPBElement### -->
	<!-- ###aPBElementActive### -->
		<b>###start###-###end###</b>&nbsp;&nbsp;
	<!-- ###aPBElementActive### -->
<!-- ###alphabeticPageBrowser### end -->

<!-- ###listByCategory### -->
